<div class="col-xs-8 col-xs-offset-2">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 align="center">Contact Rijschool Instructor</h2>
    </div>
    <div class="panel-body">    
      <form role="form">
        <div class="form-group">      
          <h1 class="contact">Any queries on Auto Lessons please contact :</h1>
          <h1 class="contact">Evgeniya Rogozhina</h1>          
          <h1 class="contact">Contact : 0626397412</h1>          
          <h1 class="contact">Email - rogozhina_evgeni@mail.ru</h1>
<!--          <label for="name">Name:</label>                                   --> 
<!--          <input type="text" class="form-control" id="name">                -->  
<!--        </div>                                                              -->
<!--        <div class="form-group">                                            -->  
<!--          <label for="femail">From Email:</label>                           -->
<!--          <input type="email" class="form-control" id="femail">             -->   
<!--        </div>                                                              -->
<!--        <div class="form-group">                                            -->
<!--          <label for="temail">To Email:</label>                             --> 
<!--          <input type="email" class="form-control" id="temail">             -->
<!--        </div>                                                              -->
<!--        <div class="form-group">                                            -->
<!--          <label for="msg">Message:</label>                                 --> 
<!--          <textarea class="form-control" rows="5" id="msg"></textarea>      --> 
<!--        </div>                                                              -->  
<!--        <div class="checkbox">                                              -->
<!--          <label><input type="checkbox"> Remember me</label>                -->    
        </div>                                                              
<!--        <button type="submit" class="btn btn-primary">Submit</button>       --> 
        
      </form>
    </div>
  </div>
</div>