<div class="center jumbotron">
<!-- <h1 class="contact">Web Site Under Construction</h1>                       -->
<!-- <h1 class="contact">Any queries on Auto Lessons please contact :</h1>      -->
<!-- <h1 class="contact">Evgeniya Rogozhina</h1>                                -->
<!-- <h1 class="contact">Contact : 0626397412</h1>                              -->
<!-- <h1 class="contact">Email - rogozhina_evgeni@mail.ru</h1>                  -->
  <%= link_to 'Sign up now', "#", class: "btn btn-primary btn-lg btn-xlarge" %> 
</div>
