$navbar-default-bg: #0099FF;
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
 float: left;
 font-size: 1.7em;
 color: #ffff;
 font-weight: bold;
 font-family: Georgia;
}

#logo:hover{
  color: #ffff;
  text-decoration: none;
}

.center {
  text-align: center;
}

footer {
  margin-top: 15px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

#conFooter {
  background: linear-gradient(to right, #f4c01a, #0d6632);
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;  
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  color: red;  
}

.description {
  margin-top: 0;
}

.jumbotron {
  /* background-image: asset-url('IMG_20160216_151324'); */
  background-size: cover;
  height: 1250px;
  background-repeat: no-repeat;
  display: block;}
  
.school-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.school-title {
  font-weight: bold;
  font-size: 1.7em;
}

.school-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*
 Later to be removed
*/

h1.contact {
  color: red;
}